	../.ICEauthority
	../.Xauthority
	../.bash_history
	../.bash_logout
	../.bashrc
	../.cache/
	../.compiz/
	../.config/
	../.dmrc
	../.gitconfig
	../.gnome/
	../.java/
	../.local/
	../.mozilla/
	../.pki/
	../.profile
	../.python_history
	../.ssh/
	../.sudo_as_admin_successful
	../.thunderbird/
	../.viminfo
	../.xinputrc
	../.xsession-errors
	../.xsession-errors.old
	../Desktop/
	../Documents/
	../Downloads/
	../Pictures/
	../examples.desktop

